@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F8F9FA;
    overflow-x: hidden;
}
.nav-bar-container{
    width: 334px;
    position: fixed;

}
.logo{
    width: 70px;
    height: 70px;
    background-color: #84DA15;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: -2%;
}
.dashboard-line{
    background-color: #d1d1d1;
    height: 2px;
    width: 261px;
    margin-left: 10%;
    margin-top: 6%;
}
.container-white-catastrofes{
    position: relative;
    width: 261px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.container-icon{
    position: absolute;
    background-color: #84DA15;
    width: 38px;
    height: 35px;
    border-radius: 5px;
    margin-left: 6%;
    margin-top: 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    
}
p{
    position: absolute;
    display: inline;
    padding-left: 2cap;
    padding-top: 0.8cap;
    color: #686868;
    font-weight: 600;
    font-size: 14px;
}
.container-white-user,.container-white-doacoes,.container-white-delivery,.container-white-pages,.container-white-logout{
    position: relative;
    width: 261px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 3%;
    cursor: pointer;
}
.container-white-dashboard{
    width: 261px;
    height: 25px;
    margin-top: 10.5%;
    margin-left: 9%;
    cursor: pointer;
}
.container-white-user{
    width: 261px;
    height: 25px;
    margin-top: 10.5%;
    margin-left: 10%;
    cursor: pointer;
}
p2{
    display: flex;
    margin-left: 12%;
    padding-top: 2cap;
    color: #000;
    font-weight: 700;
}
.dashboards-container{
    position: relative;
    width: 1107px;
    height: 100%;
    margin-left: 23.1%;
    margin-top: 2%;
}
li{
    display: inline;
    color: #686868;
}
li:first-child{
    font-weight: 300;
    margin-left: 3%;
}
h1{
    margin-left:3%;
}
input, button{
    position: absolute;
}
input{
    width: 256px;
    height: 36px;
    margin-left: 45%;
    border-radius: 10px;
    border: none;
    margin-top: -6%;
}
input[placeholder]{
    padding-left: 2cap;
}
button{
    width: 182px;
    height: 36px;
    margin-left: 75%;
    margin-top: -6%;
    border: 2px solid #84DA15;
    border-radius: 10px;
    color: #84DA15;
    font-weight: 600;
    background-color: transparent;
}
.nav{
    width: 23px;
    height: 23px;
    padding-left: 0.65cap;
    padding-top: 0.5cap;
}
.add{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 5%;
    border: 2px solid #84DA15;
    margin-left: 85%;
}
h2{
    margin-left: 3%;
    margin-top: 2%;
    padding-top: 1cap;
}
.container-users{
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    margin-left: 2%;
    width: 1000px;
    height: 1000px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.img-button{
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}
.user-data {
    display: flex;
    margin: 10px 0; /* Ajuste conforme necessário */
}
.user-data-base,.user-data-base-first{
    position:static;
    display: flex;
    flex: 1; 
    text-align: center; 
}
.user-data-base-first{
    margin-left: 2%;
    margin-top: 3%;
}
.user-data-base{
    margin-left: -2%;
    margin-top: 3%;
}
.line-cont{
    background-color: #dfdfdf;
    width: 1000px;
    height: 1px;
}
#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
}

.modal {
    display: none;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-left: 39%;
    margin-top: 3%;
    height: 460px;
}
h4{
    position: relative;
    font-size: 20px;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
}
.nome, .email, .CPF, .senha{
    position: absolute;
    margin-left: -20%;
    display: block;
    background-color: #e6e6e6;
    height: 30px;
    width: 280px;
}
label[for='username']{
    position: absolute;
    margin-top: 5%;
    margin-left: -20%;
}
.nome{
    margin-top: 7%;
}
label[for='cpf']{
    position: absolute;
    margin-top: 8%;
    margin-left: -20%;
}
label[for='email']{
    position: absolute;
    margin-top: 11.2%;
    margin-left: -20%;
}
.CPF{
    margin-top: 10%;
    width: 120px;
    
}

.email{
    margin-top: 14.5%;
    margin-left: -20%;
    height: 10px;
    width: 30px;
}
.gravidade-1{
    position: absolute;
    margin-top: 14%;
    font-size: 14px;
    margin-left: -18%;
}
.email-2{
    margin-top: 14.5%;
    height: 10px;
    width: 30px;
    margin-left: -14%;
}
.gravidade-2{
    position: absolute;
    margin-top: 14%;
    font-size: 14px;
    margin-left: -12%;
}
.email-3{
    margin-top: 14.5%;
    margin-left: -5%;
    height: 10px;
    width: 30px;
}
.gravidade-3{
    position: absolute;
    margin-top: 14%;
    font-size: 14px;
    margin-left: -3%;
}
label[for='senha']{
    position: absolute;
    margin-top: 17.4%;
    margin-left: -20%;
}
label[for='type']{
    position: absolute;
    margin-top: 6.1%;
    margin-left: -8.3%;
    width: 200px;
}
.senha{
    margin-top: 16.3%;
}
select{
    position: absolute;
    border-radius: 5px;
    margin-left: -8.3%;
    margin-top: 8.5%;
}
.type-input{
    width: 120px;
}
.status-input{
    margin-top: 20%;
    margin-left: -20%;
}
.Cadastrar{
    margin-top: 24%;
    position: absolute;
    width: 280px;
    height: 40px;
    background-color: #84DA15;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: -20%;
    cursor: pointer;
    font-size: 15px;
}
.close-modal{
    margin-top: 27%;
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: transparent;
    color: #7a7a7a;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: -16.5%;
    cursor: pointer;
}