@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F8F9FA;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.43;
    
}


.header-container {
    height: 119px;
    width: 100%;
    position: fixed;
    display: inline-flex;
}

.header-logo {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #84DA15;
    border-radius: 50%;
    margin: 30px;
}
.img-logo{
    width: 85px;
    height: 85px;
    margin-left: 1.45%;
    margin-top: 1.4%;
    position: absolute; 
    object-fit: cover; 
    z-index: 2; 
    opacity: 2;
}
li a {
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

li {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    padding: 3cap;
    text-align:left;
}

li:first-child {
    margin-left: 13%;
    color: #84DA15;
}

button {
    border: none;
    cursor: pointer;
}

.login-button {
    width: 100px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ffffff;
    color: black; 
    
    position: absolute; 
    top: 30px; 
    right: 50px; 
}


.line {
    position: relative;
    width: 1200px;
    height: 1px;
    background-color: #FFFFFF;
    border-top: 1px solid rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: -0.5%;
}

.image-donation{
    width: 100%;
    height:100vh;
    background-image: url('../img/donation.webp');
    margin-top: -6%;
}
h1{
    font-family: "SUSE";
    font-size: 55px;
}
.time-icon{
    position: absolute;
    width: 59px;
    height: 59px;
    margin-top: -20%;
    opacity: 1;
}
.all-container{
    position: absolute;
    margin-top: -33%;
    margin-left: 56%;
}
.text-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 30%; 
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Isso permite que as caixas quebrem linha em telas menores */
    margin: 0 auto;
    max-width: 1400px; /* Ajuste conforme necessário */
}
.title{
    color: #68AA10;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
    width: 400px;
    justify-content: center;
    text-align: center;
}

.p3, .p4 , .p5, .p6{
    width: 400px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}
.container-about-donation{
    background-color: #373737;
    width: 110vh;
    height: 500px;
    margin-top: 5%;
}
.image-about-donation{
    width: 104vh;
    height: 58vh;
    background-color: #84DA15;
   margin-left: 51.3%;
   margin-top: -31%;
}
.user-icon-container,.donation-icon-container, .delivery-icon-container{
    position: absolute;
    background-color: transparent;
    width: 250px;
    height:300px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.user-icon-container{
    margin-top:15%;
    margin-left: -60%;
}
.donation-icon-container{
    margin-top:15%;
    margin-left: -35%;
}
.delivery-icon-container{
    margin-top: 15%;
    margin-left: -10%;

}
.how-donate-container{
    position: relative;
    margin-top: 2.5%;
    height: 350px;
    display: flex;
    
}

.p7{
    font-family: "SUSE";
    padding: 2cap;
    font-size: 35px;
    color: #84DA15;
    margin-top: 3%;
    margin-left: 33%;
    
}
.p8,.p9,.p10,.p11,.p12{
    width: 200px;
    height: 77;
    color: #373737;
    position: absolute;
    margin-left: 50%;
    margin-top: 70%;
    font-size: 14px;
    text-align: center;
}
.p8{
    margin-left: 12%;
}
.p9{
    margin-left: 10%;
}
.p10{
    margin-left: 52%;
}
.p11{
    margin-left: 72%;
}
p2{
    position: absolute;
    margin-left: 20%;
    margin-top: 55%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'SUSE';
}
.DOE{
    margin-left: 42%;
}
.entregue{
    margin-left: 30%;
}
.user-icon, .donation-icon, .delivery-icon,.box-icon,.family-icon{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 20%;
    z-index: 2;
    opacity: 100%;
}
.user-icon{
    margin-left: 38%;
}
.donation-icon{
    margin-left: 37.5%;
}
.delivery-icon{
    margin-left: 37%;
}
.box-icon{
    margin-left: 77%;
}

.dashboard-donation-info{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: #373737;
    margin-top: 45%;
}
.text-img-titulo{
    justify-content: center;
    text-align: center;
    padding-top: 2cap;
    color: #ffffff;
    font-family: 'SUSE';
    font-weight: 600;
    font-size: 30px;
}
.text-img-subtitulo{
    text-align: center;
    justify-content: center;
    color: #ffffff;
}
.donate-button{
    background-color: #ffffff;
    color: #84DA15;
    width: 200px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 42.5%;
    margin-top: 2%;
    border-radius: 15px;
}
.container-info-dados{
    display: flex;
    position: absolute;
    background-color: #ffffff;
    width: 1000px;  
    height: 200px;
    margin-left: 11%;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
h3{
    font-size: 50px;
    margin-left:30%;
}
.title-padok{
    position: absolute;
}
.padok-1, .padok{
    width: 350px;
    margin-top: 5%;
}
.padok-1{
    margin-left: 12%;
}
.padok-text-1{
    margin-left: -5%;
}
.padok-title-3{
    margin-left: 25%;
}
.padok-text{
    width: 200px;
    margin-left: 6%;
}
.line-padok{
    width: 200px;
    height: 1px;
    background-color: #84DA15;
    transform: rotate(90deg);
    margin-right: 3%;
    margin-top: 11%;
}
::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

/* Estiliza o thumb da scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #cfcfcf; /* Cor da thumb */
    border-radius: 10px; /* Cantos arredondados */
}

/* Estiliza o track da scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do track */
    border-radius: 10px; /* Cantos arredondados do track */
}

/* ANIMATIONS */

.donation-button:hover{
    background-color: #6aad11;
    font-weight: 500;
    color: #f7f5f5;
}

.login-button:hover{
    background-color: #000;
    color: #ffffff;
}
a:hover{
    color: #84DA15;
    font-weight: 600;
}



h1{
    justify-content: center;
    text-align: center;
    padding-top: 1cap;
}

h2{
    font-size: 40px;
    margin-top: 20%;
    width: 400px;
    justify-content: center;
    text-align: center;
}