@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #636363;
    position: relative;
    overflow: hidden; 
}

img {
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.43;
    
}


.header-container {
    height: 119px;
    width: 100%;
    position: fixed;
    display: inline-flex;
}

.header-logo {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #84DA15;
    border-radius: 50%;
    margin: 30px;
}
.img-logo{
    width: 85px;
    height: 85px;
    margin-left: 1.45%;
    margin-top: 1.4%;
    position: fixed; 
    object-fit: cover; 
    z-index: 2; 
    opacity: 2;
}
li a {
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

li {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    padding: 3cap;
    text-align:left;
}

li:first-child {
    margin-left: 13%;
}

button {
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.login-button {
    width: 100px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ffffff;
    color: black; 
    
    position: absolute; 
    top: 30px; 
    right: 50px; 
}


.line {
    position: relative;
    width: 1200px;
    height: 1px;
    background-color: #FFFFFF;
    border-top: 1px solid rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: -0.5%;
}

h1, .p1, .donation-button, .subtitle {
    margin-left: 7%;
}

h1 {
    margin-top: 10%;
    letter-spacing: 8px;
    font-size: 70px;
    color: #FFFFFF;
    font-family: "SUSE";
}
.subtitle{
    font-family: "SUSE";
    color: #ffffff;
    font-size: 24px;
}
.p1 {
    width: 500px;
    font-size: 16px;
    margin-top: 5%;
    color: #FFFFFF;
    font-weight: 300;
}

.donation-button {
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
    color: rgb(80, 80, 80);
    margin-top: 2%;
    background-color: #84DA15;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header-logo, button {
    cursor: pointer;
}

/* ANIMATIONS */

.donation-button:hover{
    background-color: #6aad11;
    font-weight: 500;
    color: #f7f5f5;
}

.login-button:hover{
    background-color: #000;
    color: #ffffff;
}
a:hover{
    color: #84DA15;
    font-weight: 600;
}