@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

body {
    background-color: #F8F9FA;
}

.container-img {
    background-color: #84DA15;
    width: 45%;
    height: 100vh;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 14%;
    margin-top: 10%;
}

p {
    font-family: 'SUSE';
    position: absolute;
    margin-left: 11%;
    margin-top: -3.6%;
    color: #fff;
    font-size: 16px;
}

h1,
h2 {
    color: #fff;
    margin-left: 14%;
}

h2 {
    margin-top: 25%;
    font-size: 40px;
    font-weight: 500;
}

h1 {
    font-size: 40px;
}

.login-window {
    position: absolute;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    margin-left: 37.8%;
    margin-top: 3%;
    cursor: pointer;
    background-color: #F8F9FA;
    font-weight: 600;
}

.singup-window {
    position: absolute;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    margin-left: 37.8%;
    margin-top: 7%;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    color: #fff;
}

.container-content {
    display: block;
    margin-left: 45%;
    margin-top: -46.5%;
    height: 100vh;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

h3 {
    margin-top: 15%;
    font-size: 30px;
}

input[type='password'],
input[type='text'] {
    margin-top: 2%;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

input[type='text'] {
    margin-top: 5%;
}

input[placeholder] {
    padding-left: 2cap;
}

input[type='password'] {
    margin-bottom: 2%;
}

input[type='checkbox'] {
    position: fixed;
    margin-left: -13.5%;
}

p1 {
    font-size: 14px;
}

.remember-me {
    position: fixed;
    margin-left: -12%;
    margin-top: -0.2%;
}

.forgot-password {
    position: fixed;
    color: #84DA15;
    margin-left: 2.5%;
}

.enter-login {
    margin-top: 5%;
    width: 300px;
    border: none;
    background-color: #84DA15;
    border-radius: 5px;
    font-weight: 500;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}

.line,
.line-2 {
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #d1d1d1;

}

.line {
    margin-top: 3.5%;
    margin-left: 10%;
}

.line-2 {
    margin-top: 3.5%;
    margin-left: 32%;
}

.ou {
    position: absolute;
    margin-top: 7.8%;
    margin-left: -11.5%;
    font-size: 16px;
}
.google, .facebook{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #84DA15;
    cursor: pointer;
}
.google{
    margin-top: 12%;
    margin-left: 43%;
}
.facebook{
    margin-left: 52%;
    margin-top: -7%;
}
.google-icon,.facebook-icon{
    margin-top: 18%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
